<!DOCTYPE html>
<html>
<head>
    <title>SignalR Simple Chat</title>
    <style type="text/css">
        .container {
            background-color: #99CCFF;
            border: thick solid #808080;
            padding: 20px;
            margin: 20px;
        }
    </style>
</head>
<body>
    <a href="http://localhost:61171/Views/GlobalChat.html">Global Chat</a>
    <br />
    <a href="http://localhost:61171/Views/Login.html">Private Chat</a>
    <br />
    <a href="http://localhost:61171/Views/Register.html">Register User</a>
    <br />
    <a href="http://localhost:61171/Views/Login.html">Login User</a>
</body>
</html>