<!DOCTYPE html>
<html>
<head>
    <title>Arci/chat</title>
    <meta charset="utf-8" />
    <link href="../Styles/Style.css" rel="stylesheet" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js"></script>
    <script src="../bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>
    <link href="../bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../signalr/hubs"></script>
    <style>
        h4 {
            color: #44ae1f;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <!-- --- InfoMessages --- -->
    <div class="row">
        <div class="col-md-12" id="InfoMessage">

        </div>
    </div>
    <!-- ---  LoginForm --- -->
    <div class="row" id="LoginForm">
        <div class="col-sm-12" id="top">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4" id="middle">
            <div style="text-align:center; margin-top: 2px">
                <input type="text" id="Nick" placeholder="Přezdívka" class="input-w-borders" />
                <input type="password" id="Password" placeholder="Heslo" class="input-w-borders" />
                <br />
                <input type="button" value="Přihlásit" id="LogtoButton" class="button-w-borders" />
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <!-- --- AfterLoginForm --- -->
    <div class="row" id="AfterLoginForm">

        <div class="col-sm-12" id="NickChatName" style="text-align:right"></div>
        <div class="col-sm-12" id="top2">
        </div>
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-md-4" id="Text-a-left">
            <div id="FriendsList">
                <h4>List přátel</h4>
            </div>
            <div id="AddFriend">
                <input type="text" id="Friend_Name" placeholder="Zadejte jméno přítele" />
                <br />
                <input type="button" value="Přidat" id="AddButton" /> <!--onclick='AlertFunction'-->
            </div>
        </div>
        <div class="col-md-4" id="Text-a-center">
            <div id="SelectFriendToChat">
                <h4>Chat</h4>
                <br />
                <input type="text" id="Friend_Name_Chat" placeholder="Zadejte jméno přítele" />
                <br />
                <input type="button" value="Psát" id="Select_Friend" />
                <br />

            </div>
            <div id="ChatForm">
                <a style="color:blue" id="Chat_history">Historie chatu</a>
                <br id="Chat_history" />
                <div id="MessagesForm">
                </div>
                <input type="text" id="Message" placeholder="Zadejte zprávu" />
                <br />
                <input type="button" value="Odeslat zprávu" id="Send_Message" />
            </div>
            <div id="ChatRoomForm">
                <h4>Rooms</h4>
                <br />
                <input type="text" id="Room_Name_Chat" placeholder="Zadejte jméno roomky" />
                <br />
                <input type="button" value="Psát" id="Select_Room" />
                <br />
            </div>
        </div>
        <div class="col-md-4" id="Text-a-right">
            <div id="MemberList">
                <h4>List uživatelů</h4>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.onload = function () {
            AddButton.onclick = AddUser;
            Select_Friend.onclick = ShowChatForm;//$('#Select_Friend').val
            Chat_history.onclick = ShowChatHistory;
        }
        var divFriendsList = document.getElementById('FriendsList');
        $.connection.contactHub.client.writeFriends = function (listJmen) {
            //alert("Ukaž list jmen! Jmeno1: " + listJmen[0]);
            for (var item in listJmen) {
                //$("FriendsList").append('<div>' + listJmen[item] + '</div>');
                //alert('<div>' + listJmen[item] + '</div>' + '<br />');

                divFriendsList.innerHTML = divFriendsList.innerHTML + "- " + listJmen[item] + "<br />";// + " - <a id=\"" + item + "\">X</a> " + "<br />";
            }
        }
        $.connection.contactHub.client.writeFriend = function (friend) {
            if (friend != null) {
                divFriendsList.innerHTML = divFriendsList.innerHTML + "- " + friend + "<br />";
            }
            else
                ShowInfoMessage("Tento uživatel neexistuje!", "red");
        }
        var divChatList = document.getElementById('MessagesForm');
        $.connection.chatHub.client.writeMessage = function (message, dateNow, sender) {
            divChatList.innerHTML = divChatList.innerHTML + "<a class=\"msg\">" + dateNow + "</a> " + sender + ": " + message + "<br />";// + " - <a id=\"" + item + "\">X</a> " + "<br />";
        }

        //(function () {}) WTF?
        var ConnectionID = null;
        var ConnectionName = null;
        var NickChatName = null;
        HideAndShowBeforeLogin();
        //$('#AddButton').click(alert("adas"));

        $.connection.hub.start()
        .done(function () {
            $('#LogtoButton').click(login);
            $('#Send_Message').click(sendMessage);
        })
        .fail(function () {
            //alert("Connection login hub error!");
            ShowInfoMessage("Connection login hub error!", "red");
        });
        function clearInputs() {
            $("#Nick").val('');
            $("#Password").val('');
            $('#Friend_Name').val('');
            $('#Friend_Name_Chat').val('');
        }
        var login = function () {
            //alert("Odkliknuto!!");
            $.connection.loginHub.server.login($('#Nick').val(), $('#Password').val())
                .done(
                function (logged) {
                    if (logged == null) {
                        //alert("Špatné heslo, nebo jméno!!");
                        ShowInfoMessage("Špatné heslo, nebo jméno!", "red");
                        return false;
                    }
                    else {
                        ConnectionName = $('#Nick').val();
                        var NickChatNameHTML = document.getElementById('NickChatName');
                        NickChatNameHTML.innerHTML = "<a style=\"font-size: 10px;\">Přihlášen: </a>" + ConnectionName;
                        ConnectionID = logged;
                        //alert("Well done," + " ConnectionID: " + logged);
                        ShowInfoMessage("Přihlášeno!");
                        ShowAndHideAfterLogin();
                        clearInputs();
                        //ShowMyFriends(ConnectionID);
                        ShowAllMembers();
                        $.connection.contactHub.server.getFriends(ConnectionID)
                        return true;
                    }
                }

            )
            //$.connection.loginHub.server.login($('#Nick').val(), $('#Password').val()).done()
            //$.connection.loginHub.client.login = function (nick, password) { alert(nick) }
            //for(i ... for(asd of pole)
        }
        var ShowInfoMessage = function (message, color) {
            $('#InfoMessage').empty();
            if (color == null)
                color = "green";
            var divChatList = document.getElementById('InfoMessage');
            $('#InfoMessage').show(30);
            divChatList.style.background = color;
            divChatList.innerHTML = message;
            $('#InfoMessage').delay(5000).hide(2500);
        };
        var sendMessage = function () {

            $.connection.chatHub.server.sendMessage(ConnectionID, $('#Message').val(), NickChatName);
            ShowInfoMessage("Zpráva odeslána!");
            $('#Message').val('').focus();

        }
        var AddUser = function () {
            $.connection.contactHub.server.addFriend(ConnectionID, $('#Friend_Name').val())
                .done(
                    //alert("Uživatel přidán!"),
                    ShowInfoMessage("Uživatel přidán!"),
                    clearInputs()
                )
        }
        var divMemberList = document.getElementById('MemberList');
        var ShowAllMembers = function () {
            $.connection.contactHub.server.writeAllMembers()
                .done(
                function (listJmen) {
                    for (var item in listJmen) {
                        //$("FriendsList").append('<div>' + listJmen[item] + '</div>');
                        //alert('<div>' + listJmen[item] + '</div>' + '<br />');
                        divMemberList.innerHTML = divMemberList.innerHTML + listJmen[item] + " -" + "<br />";
                    }
                }
                )
        }
        var ShowChatForm = function () {
            $.connection.chatHub.server.checkContact($('#Friend_Name_Chat').val(), ConnectionID)
                .done(
                function (chceck) {
                    if ($('#Friend_Name_Chat').val() == "") {
                        //alert("Zadejte jméno pro chat");
                        ShowInfoMessage("Zadejte jméno pro chat!", "red");
                    }
                    else if (chceck == false) {
                        alert("Uživatel neexistuje, nebo není ve vašm friendlistu");
                        ShowInfoMessage("Uživatel neexistuje, nebo není ve vašm friendlistu!", "red");
                    }
                    else if (chceck == true) {
                        $('#ChatForm').show();
                        $('#SelectFriendToChat').show();
                        NickChatName = $('#Friend_Name_Chat').val();
                        //alert("Nyní piš zprávu!!");
                        ShowInfoMessage("Chat s uživatelem " + $('#Friend_Name_Chat').val() + " otevřen");
                        $('#MessagesForm').empty();
                    }
                }

            )

        }
        var ShowChatHistory = function () {
            //alert("Historie chatu");
            ShowInfoMessage("Historie chatu...", "blue");
            $('#Chat_history').hide();
        }


        //Nefunguje, protože vrací ConnectionID jako null!! - už nevrací, Dodělat!!
        //var div = document.getElementById('FriendsList');
        //var ShowMyFriends = function (ConnectionID_inside) {
        //    $.connection.contactHub.server.writeFriends(ConnectionID_inside)
        //        .done(
        //        function (listJmen) {
        //            for (var item in listJmen) {
        //                //$("FriendsList").append('<div>' + listJmen[item] + '</div>');
        //                //alert('<div>' + listJmen[item] + '</div>' + '<br />');
        //                div.innerHTML = div.innerHTML + "- " + listJmen[item] + "<br />";
        //            }
        //        }
        //        )
        //}
        function HideAndShowBeforeLogin() {
            $('#AddFriend').hide();
            $('#FriendsList').hide();
            $('#MemberList').hide();
            $('#Chat').hide();
            $('#ChatForm').hide();
            $('#SelectFriendToChat').hide();
            $('#ChatRoomForm').hide();
            $('#AfterLoginForm').hide();
        }
        var ShowAndHideAfterLogin = function () {
            $('#LoginForm').hide();
            $('#AddFriend').show();
            $('#FriendsList').show();
            $('#MemberList').show();
            $('#SelectFriendToChat').show();
            $('#ChatRoomForm').show();
            $('#AfterLoginForm').show();
        }

        var AlertFunction = function () {
            alert("Funkuje!")
            ShowInfoMessage("Funkuje!", "green");
        }
        $('#top').click(function () {
            window.location.href = "index.html";
        });
        $('#top2').click(function () {
            window.location.href = "index.html";
        });
    </script>
</body>
</html>